.App {
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.562);
  font-size: 14px;
  color: #666666;
}
.todo-wrap {
  margin: 0 auto ;
}
.todo-wrap ul {
  list-style-type: none;
  padding-left: 0;
  width: 95%;
  margin: 10px auto;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-top: none;
}
.todo-wrap li {
  height: 30px;
  line-height: 30px; 
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.562);
}
.todo-wrap li input {
  border: 1px solid rgba(128, 128, 128, 0.562);
}
.todo-wrap li span {
  margin-left:50px;
}
.todo-wrap:hover {
  cursor: pointer;
}
.todo-footer {
  height: 30px;
  line-height: 30px;
  padding: 0%;
  margin: 10px;
}
.todo-footer span {
  margin-left: 50px;
}
.App button {
  float: right;
  margin-right: 10px;
  height: 35px;
  border:none;
  border-radius: 5px;
  display: inline-block;
  background: #cc9c35e8;
  color: white;
}
.todo-wrap li button {
  background: rgb(185, 16, 16);
  height: 25px;
  margin-top: 2px;
}
.todo-header {
  height: 40px;
  line-height: 40px;
  text-align: center
}
.todo-header input {
  height: 25px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 3px;
}
